* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1140px;
  margin: auto;
}

/* banner style */
@keyframes banner-animation {
  0% {
    opacity: 0;
    transform: translatex(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    transform: translatex(0px);
  }
}

@keyframes player-animation {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.banner {
  display: flex;
  align-items: center;
  background-color: rgb(16, 5, 5);
  color: white;
  border-radius: 15px;
  margin: 50px auto;
  animation: banner-animation 1s ease-in forwards;
}
.banner-left {
  /* flex: 1; */
}
.title {
  /* flex: 1; */
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 4.3rem;
}
.sub-title {
  font-family: "Poppins", sans-serif;
  margin: 30px 0;
}
.banner-right img {
  display: block;
  animation: player-animation 1s ease-out forwards;
}
.banner-left {
  padding-left: 50px;
}
.btn {
  background-color: #dd0000;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

/* main section start */
.main-section {
  display: flex;
  /* background-color: aqua; */
  gap: 10px;
  /* justify-content: space-between; */
}
.left-side {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  border-radius: 8px;
  width: 25%;
  height: fit-content;
}
.left-side .btn:nth-child(1),
.left-side .btn:nth-child(2) {
  background-color: rgb(126, 129, 129);
  font-weight: bold;
  color: black;
}
.right-side {
  /* background-color: rgb(58, 49, 49); */
  flex: 1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.card {
  border: 1px solid rgb(194, 202, 202);
  border-radius: 10px;
}
.card img {
  height: 200px;
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.card-body {
  padding: 20px;
}
.card-body .btn {
  background-color: white;
  color: black;
  font-family: "Poppins", sans-serif;
  border: 2px solid rgb(122, 119, 119);
  padding: 5px 20px;
  margin: 20px 0;
}
.card-body p {
  font-size: 1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.card-bottom {
  color: #474646;
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
.card-bottom span {
  font-family: "Poppins", sans-serif;
}

footer {
  background-color: rgb(20, 20, 20);
  margin-top: 130px;
}
.div-footer {
  text-align: center;
  padding: 150px;
}
.div-footer h1 {
  border-bottom: 1px solid rgb(129, 128, 125);
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}
.list-item ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  padding: 50px 0;
}
.list-item ul li {
  list-style: none;
}

@media (max-width: 992px) {
  .banner-right img {
    width: 100%;
    display: block;
    flex: 1;
  }
  .banner-right {
    flex: 1;
  }
  .banner-left {
    flex: 1;
  }
  .title {
    font-size: 3rem;
    margin: 0 0;
    line-height: 55px;
  }
  .sub-title {
    font-size: 0.8rem;
    margin: 10;
  }
  .main-section {
    flex-direction: column;
  }
  .left-side {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
  }
  .left-side > * {
    flex: 1;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* gap: 10px; */
  }
  .list-item ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .div-footer {
    padding: 100px;
  }
}
@media (max-width: 576px) {
  .banner {
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
  }
  .banner-left {
    padding: 20px;
  }
  .banner-right img {
    width: 60%;
    margin: auto;
  }
  .left-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: transparent;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 10px; */
  }
  .list-item ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
